

/*General Styling*/
html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

/*header*/



/*intro section*/



/*Tea of the Month section*/



/*Locations section*/



/*footer*/